.el-card {
  .el-card__header {
    background-color: #f8f9fc;
    color: #5076dc
  }
}

.el-table {
  margin-bottom: 20px;
  .cell {
    padding-left: 0;
    padding-right: 0;
  }
}

.el-popper {
  border-radius: 10px;
  transform: translate(110px, 178px)!important;
}

.el-picker__popper.el-popper,
.el-select__popper.el-popper {
  transform: translate(0px, 0px)!important;
}

.el-menu--popup {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px #ccc;
  background-color: #fff !important;
  padding: 0 !important;
  /deep/.el-menu-item {
    background-color: #fff !important;
  }
}

.el-menu--vertical {
  background-color: #fff !important;
}

.el-menu--popup-right-start {
  background-color: #fff !important;
}

.el-menu--collapse {
  margin: 0 auto !important;
  .el-submenu {
    .el-submenu__title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto !important;
      span {
        width: auto !important;
        margin-top: 2px;
        height: 14px !important;
        line-height: 14px !important;
        visibility: visible !important;
      }
    }
  }
}